<div class="card-container">
  <audio autoplay>
    <source src="merry-christmas.mp3" type="audio/mpeg">
  </audio>
  <div class="container">
  <p>Dear Mars:</p>
    <p>You were the best thing that has ever happened to me.  I know that I've probably said it a million times, but it's absolutely true.  While my memory may not always be the best, I love you so absolutely.</p>
    <p>You challenge me mentally.  We often discuss big things like the progression of tech in society, politics and our embarrassing lack of knowledge in lieu of once being political science majors (who's bernie sanders again?), our respective ambitions of becoming the founder of a company/kickass P.O./owner of a bakery shop.</p>
    <p>We often discuss small things like dentist appointments that we (and by we, I mean you) have to attend, laugh incessantly to stupid antics that involve "bahbz" and "do you love me", the article of clothing that would be most appropriate for you to wear ('babe, what should i put on this morning'), small achievements in code ("BABE I DID IT.").</p>
    <p>You are the best relationship I've ever had.  Everything before, relative to you, was simply preparing me to be a good man to you, to love you with every ounce of my being.  To come home with you, hand in hand, and help you cook breaded chicken with spinach (sometimes!!!).  To hold you outside of 1121 bush while waiting for a lyft on a windy night to brewcade and make you feel safe (always!).  To comfort you when you feel like are undeserving of love (you absolutely, absolutely are).  And I hope to continue making you feel loved, safe, warm, listened to.</p>
    <p>You tell me that you are so lucky.  I'm glad that you feel that way, but I want to reassure you that the way that you feel is matched by me, if not more.  You're so providing for me, you're incredibly caring, and I know that you would go to incredible lengths just so that I'd be comfortable.  I hope that you know that I'd go to lengths to make you comfortable, to make you happy, to make sure you're healthy.</p>
    <p>A list of memories:</p>
    <ol>
      <li>Meeting at cha cha and sharing dinner, getting offered the drink from a fellow table beside us, me drinking yours, walking to golden gate park, and a very awesome first kiss</li>
      <li>Coming over to my house on a work from home day and spending the day at lands end + photos to accompany</li>
      <li>Muir Woods and a very memorable clifftop experience...</li>
      <li>A brunch before muir woods and talks of religion. Oddly, a talk that I remember very clearly</li>
      <li>Golfing at urban putt.  You are the only person that I want to mini golf with and the only person that I want to cream at mini golf</li>
      <li>Going to the brewcade and kicking butt at a multitude of games together</li>
      <li>Coit tower with you leaning on me amidst a breathtaking view of the city, with cars passing by on the bridge ahead of us</li>
      <li>Dinner with Jeremy and Jackie where we got breaded cheese puffs (???) and went home to play SETTLERS OF CATAN!</li>
      <li>Work from home days amidst rain where we order NICK'S CRISPY TACOS!</li>
      <li>Disneyland with my baby with her wearing red minnie mouse ears!</li>
      <li>Covering baby it's cold outside and kicking ass at duets in general</li>
      <li>Taking 'coffee breaks' during work that actually involve walking around the shopping complexes</li>
      <li>Taking 'coffee breaks' during work that actually involve getting ice cream sandwiches</li>
      <li>Taking 'coffee breaks' during work that actually mean sitting on a bench beside the pier and furiously making out</li>
      <li>Taking 'coffee breaks' during work that actually involve going to the bookstore and buying some good investing reads and Shakespearean novels</li>
      <li>A "friendsgiving" feast where I first tried your ziti and fell in love with your cooking</li>
      <li>That night where you had drinken too much at my apartment and thrown up :D</li>
      <li>That night where I cried to you about my dad and shared the secret that everyone has about their family-- that it's far from perfect</li>
      <li>That night where we watched HIMYM</li>
      <li>That night where we watched HIMYM again</li>
      <li>Getting into Narcos with my baby!  Oooh, Columbian coke dealers, oh my</li>
      <li>Meeting Bilbo and Geronimo for the first time. I love them!</li>
      <li>Grabbing dinner with your brother, one of the most important people in your life.  Then getting drinks after!</li>
      <li>Watching you make salad for both of us... every single day</li>
      <li>Knotts Scary Farm! I was so scared when the shopping cart separated us.  I loved meeting your friends!   Sam, Tuan, Kevin, the whole lot of them.  We had good conversations.</li>
      <li>Introducing you to my brother that very same night :D</li>
      <li>Going to Trader Joe's with you. Like 3x a week...</li>
      <li>Learning and kicking ass at "Baby, it's cold outside". Together!</li>
      <li>Meeting Nancy!!! You have the best siblings, honestly.  I loved her vitality in meeting us.</li>
      <li>Tandem biking to sausalito</li>
      <li>Asking you to officially be my girlfriend at sausalito</li>
      <li>Buying christmas ornaments at sausalito.  Who knew they were meant for a married couple... :)</li>
      <li>Thanksgiving with my crazy family.  You've met some of the most influential people in my life, some of the kindest souls I know who would go to great lengths for me.  I've NEVER introduced anyone to them, and yet I felt more than comfortable with you being there.</li>
      <li>Sleeping in my car :D</li>
      <li>Being so crazy in love with you</li>
      <li>Hiking in Berkeley with you!</li>
      <li>Checking out that bench in Berkeley where you can head the other person by simply whispering. SPOOKY!</li>
      <li>That bar near my house where you first got drunk with me and talked about your "nest egg" :D</li>
      <li>Saying "you love me?" all the time to each other</li>
      <li>Watching Star Wars: The Force Awakens together... dun dun dun, dun dun dun dun dun!!! (cue star wars theme music)</li>
      <li>Thumbs up or thumbs down at movie trailers</li>
      <li>Watching the good dinosaur with you! It's so cute... Pixar does it again</li>
      <li>Watching Martian with you.  We have a track record of only watching movies with a 70+ rating on rottentomatoes :D</li>
      <li>Going on a slew of runs around the block to 24 hour fitness!</li>
      <li>Getting ripped with my baby. She's so good looking!</li>
      <li>Finding Mary's Jelly Farm... priceless</li>
      <li>Going to the Salesforce Christmas party with one another.  Took pictures and had an awesome time.  Photobooth + donuts at night + coming home and doing zeee naughty</li>
      <li>Getting donuts after bringing your car to SF and eating together! Mmmmm, I'm the newest member of the donut diet! Make room for me, other donut-eaters</li>
      <li>You're such a cutie pie</li>
      <li>Learning to code together! You're really incredibly smart, despite your own apprehensions about when you're capable of</li>
    </ol>
    <p>With my heart,</p>
    <p>Alex</p>
  </div>
</div>
