<h1 class="password-title">Password</h1>

<%= form_for :christmas_card, url: christmas_card_2015_password_entered_path, html: {class: "password-form"} do |f| %>
  <%= f.password_field :password %><br><br><br>
  <%= f.submit "Is your password correct?", class: "password-submit" %>
<% end %>
