<h1 class="password-title">Password</h1>
<!-- <iframe src="assets/snow-falling.gif" width="100%" height="100%" frameBorder="0" allowFullScreen></iframe>
 -->
<!--  <iframe style="background: #ffffff url('assets/snow-falling.gif') repeat fixed center; width:100%; height:100%;" align="middle" scrolling="auto" frameborder="0"></iframe>
 -->
<%= form_for :christmas_card, url: christmas_card_2015_password_entered_path, html: {class: "password-form"} do |f| %>
  <%#= f.label :password %>
  <%= f.password_field :password %><br><br><br>
  <%= f.submit "Is your password correct?" %>
<% end %>
